$primary-text-color: #1A1A1A;
$primary-color: #0788E9;
$secondary-text-color: #8A8A8A;
$secondary-color: #52CFA1;
$light-blue-color: #23F8DE;
$light-color: #E9E9E9;
$dark-color: #1A1A1A;
$gradient-color: linear-gradient(45deg , #0788E9 65%, #23F8DE);
$main-navbar-color: white;
$main-light-color: #333;
$navbar-height: 72px;
$navbar-logo-height: 45px;


$website-width: 86%;

// Utilities
.advanced-search{
   color: steelblue;
   text-decoration: underline;
}

.arrow-up {
   position: absolute;
   top: -9px;
   width: 0; 
   height: 0; 
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   
   border-bottom: 10px solid $dark-color;
 }

.bg{

   &-dark{
      background: $dark-color;
      color: #ffffff;
   }

   &-white{
      background: #ffffff;

      h5{
         color: $secondary-text-color;
         padding-bottom: 1rem;
         font-size: 1.2rem;
      }

      .info-text{
         font-family: light-font;
         font-size: 1.3rem;
         line-height: 1.4;
      }

      .about-text{

         p{
            font-family: light-font;
            line-height: 1.4;
         }

         li{
            font-family: light-font;

            margin-bottom: .5rem;
         }
      }


   }

   &-img{
      background: center center /cover no-repeat;

      &.hero-img{
         height: 400px;
         border-radius: 1rem;
      }
   }
}

.btn{
   display: block;
   background: $gradient-color;
   color: white;
   text-align: center;
   margin: auto;
   font-family: light-font;

   &-rounded{
      padding: .7rem;
      font-size: 1rem;
      border-radius: 2rem;
   }

   &-all{
      margin: 2rem auto;
      font-size: 1.5rem;
      width: 230px;
   }

   &-search{
      font-family: regular-font;

      img{
         transform: translateY(5px);
      }
   }

}

.container{
   width: $website-width;
   margin: 0 auto;
}

.drop-shadow{
   filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}

.first-section{
   margin-top: $navbar-height + 5px;
}

.last-section{
   padding-bottom: 3rem;
}

.hidden{
   display: none !important;
}

.lead{
   padding: 0 0 1rem;

      .dark-blue{
         color: $primary-color;
      }

      .light-blue{
         color: $light-blue-color;
      }
}

.login{
   min-height: 80vh;

   .bg-img{
      height: 40vh;
   }

   .lead{
      margin-top: 1rem;
   }

   .forgot-password{
      color: $primary-color;
      text-decoration: underline;
   }

   .search-input{
      margin-bottom: 1rem;
   }

   .btn{
      font-family: bold-font;
      max-width: 50%;
      margin: 1rem auto;
   }

   .sign-up-lead{
      padding-top: .8rem;

      a{
         color: $primary-color;
         text-decoration: underline;
      }
   }

   .forgot-password-info{
      font-family: light-font;
      padding-bottom: 10px;
   }
}

.property-card{
   padding: 1rem .5rem;
   border-radius: 1rem;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
   
   h4{
      padding: 0 0 1rem 1rem;
      font-size: .7rem;
   }

   .property-card-img{
      position: relative;
      width: 100%;
      border-radius: 1rem;
      overflow: hidden;

      .bg-img{
         top: 0;
         height: 300px;
         width: 100%;
      }

      .detail-icons{
         position: absolute;
         bottom: 0;
         width: 100%;
         padding: 1rem;
         display: flex;
         justify-content: space-between;
         background: rgba(239, 239, 239, 0.48); 
         backdrop-filter: blur(12px);
         border-radius: 0 0 1rem 1rem;

         .detail-icon-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            height: 45px;
         }
      }

      .fav-button{
         background: #ffffff;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top: 10px;
         right: 10px;
         border-radius: 50%;
         height: 40px;
         width: 40px;

      }
   }

   .property-ratings{
      display: flex;
      padding-top: 1rem;
      width: 100%;
      justify-content: space-evenly;

      .rating{
         display: flex;

         .light{
            height: 10px;
            width: 10px;
            margin-right: 5px;
            border-radius: 50%;

            &-green{
               background: #27AE60;
            }

            &-orange{
               background: #F2994A ;
            }

            &-yellow{
               background: #F2C94C ;
            }
         }

         p{
            font-size: .8rem;
         }
      }

   }
}

.blog-card{
   padding: 0;
   overflow: hidden;
   box-shadow: none;

   .bg-img{
      height: 200px;
      width: 100%;
   }

   .blog-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      h2{
         padding: 1rem 0;
         font-size: 1.3rem;
         font-family: light-font;
      }

      p{
         line-height: 1.5;
         font-family: light-font;
      }

      .btn{
         width: 60%;
         margin: 1rem auto;
      }
   }

}

.property-card-holder{
   display: grid;
   grid-template-columns: 1fr;
   padding-bottom: 1rem;
   grid-gap: 1.5rem;
}

.search-box{
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 20px;
   left: 12%;
   height: 535px;
   width: 76%;
   padding: 1rem;
   margin: auto;
   background: rgba($color: #ffffff, $alpha: .85);
   backdrop-filter: saturate(180%) blur(20px);
   border-radius: 1rem;
   z-index: 1;

   .search-box-container{
      overflow: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      height: 372px;

      .advanced-search{
         margin: 20px 0 0;
         color: $primary-color;
         text-decoration: underline;
      }

      .property-details{


         h4{
            margin-bottom: .75rem;
         }

         .search-options-box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;

            input{
               padding: .3rem;
            }
         }
      }
   }
   .btn{
      width: 100%;
      font-size: 1.5rem;

      img{
         transform: translateY(4px);
      }
   }

}

.search-input{
   width: 100%;
   height: 36px;
   background: none;
   border: $secondary-text-color 1px solid;
   color: $secondary-text-color;

   option[disabled] {
       display: none;
   }
}

.success-box{
   position: fixed;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   backdrop-filter: blur(18px);
   z-index: 200;
}

.success-message{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;

   img{
      height: 50px;
      margin-bottom: 10px;
   }
}

.test{
   height: 100vw;
   background: red;
}

// General Styling
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: regular-font;
}

a{
   text-decoration: none;
   color: inherit;
}

body{
   background: #ffffff;
}

h3 , h4 , h5{
   font-family: light-font;
}

input{

   &:focus{
      outline: none;
   }
}

section{
   margin-top: 3rem;
}

select{
   
   option{
      background-color: #f4f4f4;
      color: $main-light-color;
   }

   &:focus{
      outline: none;
   }


}

textarea{
   resize: vertical;
}

// Navbar
#navbar-box{
   position: fixed;
   height: $navbar-height;
   width: 100%;
   top: 0;
   z-index: 20;
   background: white;

   .navbar{
      height: $navbar-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: center;

      &-logo{
         width: 165px;
         height: $navbar-logo-height;
         background: url(../assets/icons/main-logo.png) center center /contain no-repeat;
         transform: translateY(-2px);
      }

      &-items{
         display: none;

         .navbar-item.current{
            color: $secondary-text-color;
         }
      }

      .burger-logo{

         &-line{
            height: 2px;
            width: 24px;
            background: $main-light-color;
            transition: all 0.4s ease-in-out;

            &:nth-child(2){
               margin: 5px 0;
            }
         }
      }
   }

   .sidemenu-box {
      opacity: 0;
      visibility: hidden;
      
      display: flex;
      justify-content: center;
      
      position: fixed;
      top: 50px;
      left: 0;
      
      width: 100vw;
      height: 100vh;
      
      background-color: rgba( 255, 255, 255, 1 );
      transform: translate3d( 0, -18px, 0 );
      transition: all .36s ease-out;
      
      z-index: 9999;
      
         .sidemenu {
            width: $website-width;
            height: calc( 100% - 48px );
            font-family: medium-font;
            padding: 24px 0;
   
            .sidemenu-item-box {
               display: flex;
               flex-direction: column;
               justify-items: center;
               align-items: center;
               margin-bottom: 48px;
   
               .sidemenu-item {
                  display: block;
                  font-size: 24px;
                  padding: 1.5rem;
                  color: $primary-text-color;
               }
            }
         }
   }
   
   &.sidemenu-opened .sidemenu-box {
      opacity: 1;
      visibility: visible;
      transform: translate3d( 0, 0, 0 );
   }

   &.sidemenu-opened .navbar{
      position: relative;

      .burger-logo{

         &-line{
            position: absolute;
            right: 0;

            &:first-child{
               transform: rotate(45deg);

            }

            &:nth-child(2){
                  background: none;
            }

            &:nth-child(3){
               transform: rotate(-45deg);
            }
         }
      }
   }
}

// Home
#home{

   // Search
   &-a{
      position: relative;

      .container{

         .hero-img{
            position: relative;
            height: 570px;
            width: 100%;
            border-radius: 1.3rem;
            margin-top: $navbar-height ;
            background: url(../assets/img/main/hero-image.jpg) center right /cover no-repeat;

         }
      }
   }

   // Graphs
   &-b{

      .container{

         .graphs-container{
            display: flex;
            flex-direction: column;
            margin-top: 1.2rem;

            .graph-info{

               .graph-description{
                  font-family: light-font;
                  color: $secondary-text-color;
               }

               h4{
                  font-size: 1.3rem;
                  padding-bottom: 1rem;
               }

               .graph-box{
                  display: flex;
                  margin: 2rem 0;

                  .graph-percentages{
                     display: flex;
                     justify-content: space-between;
                     flex-direction: column-reverse;
                  }

                  .graph{
                     position: relative;
                     display: flex;
                     width: 100%;
                     margin-left: 2rem;



                     .bars{
                        display: flex;
                        align-items: flex-end;
                        flex: 1;
                        height: 250px;
                        width: 100%;

                        &.bars-hovered {
                        	.bar {
                              background-color: $light-color;
                        	}
                        }

                        .bar{
                           position: relative;
                           display: flex;
                           flex-direction: column;
                           align-items: center;
                           width: 7%;
                           margin-right: calc( 30% / 9);
                           height: 100%;
                           background: $secondary-color;
                           z-index: 1;
                           transition: background .16s ease-in-out;

                         .bar-toolkit{
                            display: none;
                         }

   
                           &:last-child{
                              margin-right: 0;
                           }
                           
                        	&.bar-hovered {
                              background: $secondary-color;
                              
                              .bar-toolkit{
                                 display: flex;
                                 flex-direction: column;
                                 align-items: center;
                                 position: absolute;
                                 top: 105%;
                                 border-radius: 6px;
                                 padding: .5rem;
                                 width: 120px;
   
                                 h5{
                                    font-size: 1rem;
                                    color: #ffffff;
                                    padding-bottom: 5px;
                                 }
   
                                 p{
                                    font-size: .7rem;
                                    font-family: light-font;
                                 }
                              }
                           }
                        }
                     }

                     .graph-lines{
                        position: absolute;
                        left: 0;
                        height: 250px;
                        width: 100%;
   
                        .dotted-line{
                           border-top: 2px dotted $light-color;
                           width: 100%;
                           height: 20%;
                        }
                     }
                  }
                  
         
               }
            }
         }
      }
   }

   // Property Cards
   &-c{

      .container{
         
         .bg-img{

            &-1{
               background-image: url(/assets/img/main/property-cards/nenenan-1.jpg);
            }

            &-2{
               background-image: url(/assets/img/main/property-cards/nenenan-2.jpg);
            }

            &-3{
               background-image: url(/assets/img/main/property-cards/nenenan-3.jpg);
            }

            &-4{
               background-image: url(/assets/img/main/property-cards/nenenan-4.jpg);
            }
         }

         .property-card{
            display: none;

            &:first-child{
               display: block;
            }
         
            &:nth-child(2){
               display: block;
            }
         }
      }
   }

   // Blog Cards
   &-d{

      .bg-img{

         &-1{
            background-image: url(../assets/img/main/blog-cards/nenenan-1.jpg);
         }

         &-2{
            background-image: url(../assets/img/main/blog-cards/nenenan-2.jpg);
         }

         &-3{
            background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
         }

         &-4{
            background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
         }
      }

      .property-card{
         display: none;

         &:first-child{
            display: block;
         }
      
         &:nth-child(2){
            display: block;
         }
      }

   }

   // About Alfred
   &-f{
      .container{

         .wrapped-text{
            display: flex;
            flex-direction: column;
            align-items: center;

            .wrapped-text-img{
               width: 100%;
               max-width: 480px;
               margin-bottom: 2rem;
            }
         }
      }
   }
}

// Property Details
#property-details{

   &-a{
      padding-top: 2rem;

      .container{

         .property-card{
         
            .property-card-img{
         
               .bg-img{
                  border-radius: 1rem;
                  height: 400px;

                  &-1{
                     background-image: url(../assets/img/main/property-cards/nenenan-1.jpg);
                  }
                  &-2{
                     background-image: url(../assets/img/main/property-cards/nenenan-2.jpg);
                  }
                  &-3{
                     background-image: url(../assets/img/main/property-cards/nenenan-3.jpg);
                  }
                  &-4{
                     background-image: url(../assets/img/main/property-cards/nenenan-4.jpg);
                  }
               }

               &.property-slider-bottom{
                  border-radius: 0;

                  .slick-slide{
                     margin: 5px;
                  }
                  
                  .bg-img{
                     height: 50px;
                     width: 50px;
                     border-radius: .3rem;
                     margin: .5rem 0 0;
                  }
               }
            }
         }

         .property-card-holder{
            margin-top: 1.5rem;

            display: flex;
            flex-direction: column-reverse;

            .property-card{
               display: block;
            }

            .update-form-card{

               .lead{
                  font-size: 1.3rem;
               }

               .update-form{
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  .update-info{
                     padding: .5rem;
                     width: 99%;
                     margin-top: .5rem;
                  }
               }

               .btn{
                  font-family: bold-font;

                  img{
                     transform: translateY(4px);
                  }
               }
            }

            .detail-card{
               height: 80px;

               .property-card-img{
                  height: 100%;

                  .detail-icons{
                     background: none;
                     position: relative;
                     padding: 0;
                  }
               }
            }

            .rating-card{

               .property-ratings{
                  padding: 0;
               }
            }
         }
      }
   }

   &-b{

      .container{

         .lead{
            padding-top: 2rem;

            &:first-child{
               padding-top: 0;
            }
         }

         .property-info{
            display: grid;
            grid-template-columns: 1fr;
            border-bottom: 1px $light-color solid;
            padding-bottom: 2rem ;

            &-pair{
               align-items: center;
               display: flex;
               line-height: 1.5;

               .property-info-name{
                  font-family: bold-font;
                  margin-right: .3rem;
               }

               .property-info-icon{
                  padding: .5rem .5rem .5rem 0;
               }
            }
         }
      }
   }

   &-c{
      margin-top: 2rem;

      .lead{
         padding-bottom: 2rem;
      }

      #map{
         width: 100%;
         height: 400px;
         border-radius: 1rem;
      }
   }
}

#properties{

   &-a{
      
      .container{
         display: flex;
         flex-direction: column;
         align-items: center;

         .property-search{
            
            &-options{

               display: grid;
               grid-template-columns: repeat(2, 1fr);
               grid-gap: 10px;
               padding-bottom: 10px;
      
               .search-input{
                  width: 100%;
                  height: 36px;
                  font-size: .75rem;
                  background: none;
                  border: $secondary-text-color 1px solid;
                  border-radius: 3px ;
                  color: $secondary-text-color;
   
                  option[disabled] {
                        display: none;
                  }
               }
   
               input{
                  padding: .3rem;
               }
            }

         }

         .advanced-search-box{
            padding-top: 1rem;
            margin-top: 6px;
            border-top: 1px $light-color solid;
         }

         .search-buttons{
            text-align: center;

            .btn{
               margin-top: .5rem;
               width: 200px;
            }
         }
      }
   }

   &-b{
      padding-top: 2rem;

      .sort-by{
         display: flex;
         justify-content: flex-end;
         padding-bottom: 10px;
      }

      .property-card{
         display: block;
      }

      .bg-img{

         &-1{
            background-image: url(/assets/img/main/property-cards/nenenan-1.jpg);
         }

         &-2{
            background-image: url(/assets/img/main/property-cards/nenenan-2.jpg);
         }

         &-3{
            background-image: url(/assets/img/main/property-cards/nenenan-3.jpg);
         }

         &-4{
            background-image: url(/assets/img/main/property-cards/nenenan-4.jpg);
         }
      }

   }
}

#about{

   &-a{

      .hero-img{
         background-image: url(../assets/img/about-alfred/fran-hogan-j9aikb6tv-M-unsplash.jpg);

      }
   }
}

#about-alfred{

   &-a{

      .hero-img{
         background-image: url(../assets/img/about/evan-dvorkin-K7PrSwM54-I-unsplash.jpg);
      }
   }
}

#blog{

   &-a{

      .blog-card{
         display: flex;
         flex-direction: column;
         margin: 1rem;
      }

      .bg-img{

         &-1{
            background-image: url(../assets/img/main/blog-cards/nenenan-1.jpg);
         }

         &-2{
            background-image: url(../assets/img/main/blog-cards/nenenan-2.jpg);
         }

         &-3{
            background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
         }

         &-4{
            background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
         }
      }
   }
}

#blog-inner{

   &-a{

      .hero-img{
         background-image: url(../assets/img/inner-blogs/nenenan-1.jpg);
      }
   }

  
}

#contact{

   &-a{

      .hero-img{
         background-image: url(../assets/img/inner-blogs/nenenan-4.jpg);
      }
   }

   &-c{

      .contact-form-wrapper{
         padding: 2rem 1rem 1rem;
      }

      .contact-form{

         display: flex;
         flex-direction: column;

         .search-input{
            margin-bottom: 1rem;
         }

         textarea{
            padding-bottom: 5rem;
         }
      }

   }

   &-d{

      .container{
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      
      .contact-icon-block{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 1.5rem;
         width: 100%;
         border-bottom: 1px dotted #d1d1d1 ;

         &:last-child{
            border-bottom: none;
         }

         .contact-icon{
            height: 30px;
            margin-bottom: 1rem;
         }
      }

      .contact-icons{
         display: flex;
         flex-direction: column;

      }
   }
}

#privacy{

   &-a{

      h2{
         padding-top: 1rem;
         margin-top: 12px;
      }

      ul{
         margin: .5rem 0 0 1rem;
      }

      a{
         color: $primary-color;
         text-decoration: underline;
      }
   }
}

#terms{

   &-a{

      
      h2{
         padding-top: 1rem;
         margin-top: 12px;
      }

      ul{
         margin: .5rem 0 0 1rem;
      }

      a{
         color: $primary-color;
         text-decoration: underline;
      }
   }
}

#faq{

   &-a{
      .property-card{
         padding: 0;
         
      }

      .faq-question-box{
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 1rem;
         border-bottom: 1px solid #f4f4f4;
      }

      .faq-answer-box{
         padding: 1rem;
         display: none;
      }

      .answer-opener{
         height: 10px;
         margin-right: 1rem;
      }

      .faq-answer-box{
         background: #f4f4f4;
         height: 100%;
      }
   }
}

#login{

   &-a{

      .bg-img{
         background-image: url(../assets/img/login/hero-image.jpg);
      }
   }
}

#sign-up{

   &-a{

      .bg-img{
         background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
      }
   }
}

#forgot-password{

   &-a{

      .bg-img{

         background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
      }
   }
}

#footer{

   &-main{
      margin-top: 3rem;

      .footer-login{
         margin-top: 0;
      }

      .footer-links{
         border-top: 1px solid #d1d1d1;
         border-bottom: 1px solid #d1d1d1;

         .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
   
            a{
               font-family: light-font;
               width: 60%;
               color: $secondary-text-color;
               line-height: 1.5;
               padding: 1rem;
               border-bottom: 1px dotted #d1d1d1 ;
   
               &:last-child{
                  border-bottom: none;
               }
            }
         }
      }

      .container{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;

         .footer-info{
            font-family: light-font;
            padding: 2rem 0;
            color: #000000;

            a{
               color: steelblue;
            }
         }

         .footer-icons{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 235px;

            .home-invest-icon{
               display: flex;

               img{
                  margin-right: .5rem;
                  transform: translateY(-20px);
               }

               .lead{
                  font-size: 1.5rem;
                  padding: 0;
               }
            }

            .social-icons{
               display: flex;
               justify-content: space-between;
               transform: translateY(-15px);

               a{
                  width: 40px;
               }
            }
         }

         .footer-bottom{
            width: 100%;
            margin-top: 2rem;
         }
      }
   }
}

// Responsiveness
@media screen and (min-width: 768px){

   // Utilities

   .login{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
   
      .bg-img{
         width: 100%;
         height: 100%;
      }

      .login-form-wrap{
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
   }

   .property-card-holder{
      grid-template-columns: repeat(2, 1fr);

      .property-card{
         display: block;
      }
   }

   // Site Stylings
   #home{

      &-b{

         .container{

            .graphs-container{
               display: grid;
               grid-template-columns: 1fr 1fr;
               grid-gap: 2rem;
            }
         }
      }

      &-c{

         .container{

            .property-card{
               display: block;
            }
         }
      }

      &-d{

         .container{
            
            .property-card{
               display: block;
            }
         }
      }
   }

   #property-details{

      &-a{

         .container{

            .property-card{

               .property-card-img.property-slider-bottom{
                  
                  .bg-img{
                     height: 100px;
                  }
               }
            }

            .property-card-holder{
               display: grid;
               grid-template-columns: repeat(3, 1fr);

               .update-form-card{
                  padding-top: 2rem;

                  .btn{
                     margin-top: 2rem;
                  }
               }

               .detail-card{
                  height: inherit;
                  padding: 0 1rem;

                  .detail-icons{
                     display: flex;
                     flex-direction: column;
                     justify-content: space-evenly;
                     height: 100%;

                     .detail-icon-group{
                        border-bottom: 1px solid $light-color;
                        padding: 1rem;
                        height: inherit;
                     }
                  }
               }

               .rating-card{
                  padding: 0 1rem;

                  .property-ratings{
                     flex-direction: column;
                     justify-content: space-evenly;
                     height: 100%;

                     .rating{
                        border-bottom: 1px solid $light-color;
                        padding: 2rem;
                     }
                  }
               }
            }
         }
      }

      &-b{

         .container{

            .property-info{
               grid-template-columns: 1fr 1fr;
            }
         }
      }
   }

   #properties{

      &-a{
      
         .container{
            display: grid;
            grid-template-columns: 13fr 3fr;
            grid-gap: 10px;

            .property-search{
               
               &-options{
                  grid-template-columns: repeat(5, 1fr);
                  width: 100%;
      
                  input{
                     padding: .3rem;
                  }
               }
            }
   
            .search-buttons{

               .advanced-search{
                  font-size: .8rem;
               }
   
               .btn{
                  width: 100%;
                  padding: .4rem;
               }
            }
         }
      }
   }

   #blog{

      &-a{

         .blog-card-big{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 300px;

            &:nth-child(even) > div:first-child{
               order: 2;
            }

            .bg-img{
               height: 100%;
            }
         }
      }
   }

   #contact{

      &-c{

         .btn{
            width: 300px;
         }
      }

      &-d{

         .contact-icons{
            flex-direction: row;
         }

         .contact-icon-block{
            border-bottom: none;
            border-right: 1px dotted #d1d1d1;

            &:last-child{
               border: none;
            }
         }
      }
   }

   #footer{

      &-main{

         .footer-links{

            .container{
               flex-direction: row;
   
               a{
                  border: none;
               }
            }
         }
      }

   }
}

@media screen and (min-width: 1024px){

   // Utilities

   // Site Stylings
   #navbar-box{

      .navbar{

         &-items{
            display: flex;
            width: 50%;
            justify-content: space-between;
            align-items: center;

            .profile-link{
               background: url(../assets/img/main/user.png) center center /cover no-repeat;
               width: 30px;
               height: 30px;
               border-radius: 50%;
            }
         }

         .burger-logo{
            display: none;
         }

         .btn{
            margin: 0;
         }
      }
   }

   #home{

      &-a{

         .container{

            .search-box{
               width: 30%;
               left: 9%;

               &.search-box-expanded{
                  width: 60%;
                  
                  .search-box-container{
                     display: grid;
                     grid-template-columns: repeat(2, 1fr);
                     grid-gap: 1rem;
                  }

                  .property-details{
                     padding-top: 0;
                  }

                  .btn{
                     width: 50%;
                     margin: 1rem 0;
                  }
               }

               .search-box-container{
                  position: relative;
                  overflow: visible;

                  #advanced-search-details{
                     margin-top: 28px;
                  }

                  // #advanced-search-details{
                  //    position: absolute;
                  //    left: 100%;
                  //    width: 100%;
                  //    // height: 535px;
                  //    padding: 1rem;
                  //    background: rgba($color: #ffffff, $alpha: 0.85);
                  //    backdrop-filter: saturate(180%) blur(20px);
                  //    border-radius: 0 1rem 1rem 0;
                  // }
               }
            }
         }
      }
   }

   #property-details{

      &-a{

         & > .container{
            display: flex;
            justify-content: space-between;

            & > .property-card{
               width: 77%;

               .property-card-img{

                  .bg-img{
                     height: 450px;
                  }

                  &.property-slider-bottom{

                     .bg-img{
                        height: 120px;
                     }
                  }
               }
            }

            .property-card-holder{
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               width: 20%;
               margin-top: 0;
               padding-bottom: 0;
   
                  .update-form-card{
                     padding-top: 1rem;

                     .lead{
                        font-size: 1.2rem;
                     }
   
                     .btn{
                        margin-top: 1rem;
                     }
                  }
   
                  .detail-card{
                     height: inherit;
                     padding: 0 1rem;
   
                     .detail-icons{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        height: 100%;
   
                        .detail-icon-group{
                           border-bottom: 1px solid $light-color;
                           padding: .5rem;
                           height: inherit;
                        }
                     }
                  }
   
                  .rating-card{
                     padding: 0 1rem;
   
                     .property-ratings{
                        flex-direction: column;
                        justify-content: space-evenly;
                        height: 100%;
   
                        .rating{
                           border-bottom: 1px solid $light-color;
                           padding: .7rem;
                        }
                     }
                  }
               
            }
         }
      }
   }

   #properties{

      &-b{
   
         .sort-by{
            padding-bottom: 1rem;
         }
   
         .property-card-holder{
            grid-template-columns: repeat(3, 1fr);
         }
   
      }
   }

   #contact{

      &-c{

         .contact-form-wrapper{
            width: 50%;
            margin: auto;
         }
      }

      &-d{

         .contact-icon-block{
            padding: 2rem;
         }
      }
   }
}

@media screen and (min-width: 1240px){

      // Utilities
      .property-card-holder{
         grid-template-columns: repeat(4, 1fr);
   
         .property-card{
            display: block;
         }
      }

   #home{

      // Graphs
      &-b{

         .container{

            .graphs-container{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
   
               .graph-info{
                  max-width: 500px;

                  .graph-box{
                     height: 300px;

                     .graph{

                        .bars{
                           height: 100%;
                        }
                     }
                  }
               }
            }
         }

      }

      // About Alfred
      &-f{

         .container{

            .wrapped-text{
               display: block;

               .wrapped-text-img{
                  float: right;
                  margin: 1rem;
                  transform: translateY(-50px);
               }
            }
         }
      }
   }

   #property-details{

      &-b{

         .container{
   
            .property-info{
               grid-template-columns: repeat(3, 1fr);
            }
         }
      }
   }


}