.bg-dark {
  background: #1A1A1A;
  color: #ffffff;
}

.bg-white {
  background: #ffffff;
}

.bg-white h5 {
  color: #8A8A8A;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.bg-white .info-text {
  font-family: light-font;
  font-size: 1.3rem;
  line-height: 1.5;
}

.bg-img {
  background: center center /cover no-repeat;
}

.btn {
  display: block;
  background: linear-gradient(45deg, #0788E9 65%, #23F8DE);
  color: white;
  text-align: center;
  margin: auto;
  font-family: light-font;
}

.btn-rounded {
  margin-top: 1rem;
  padding: .7rem;
  font-size: 1rem;
  border-radius: 2rem;
}

.btn-all {
  margin: 2rem auto;
  font-size: 1.5rem;
  width: 230px;
}

.container {
  width: 86%;
  margin: 0 auto;
}

.first-section {
  margin-top: 72px;
}

.hidden {
  display: none;
}

.lead {
  padding: 0 0 1rem;
}

.lead .dark-blue {
  color: #0788E9;
}

.lead .light-blue {
  color: #23F8DE;
}

.property-card-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 1rem;
  grid-gap: 1.5rem;
}

.property-card-holder .property-card {
  display: none;
  padding: 1rem .5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.property-card-holder .property-card:first-child {
  display: block;
}

.property-card-holder .property-card:nth-child(2) {
  display: block;
}

.property-card-holder .property-card h4 {
  padding: 0 0 1rem 1rem;
  font-size: .7rem;
}

.property-card-holder .property-card .property-card-img {
  display: none;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.property-card-holder .property-card .property-card-img:first-child {
  display: block;
}

.property-card-holder .property-card .property-card-img:nth-child(2) {
  display: block;
}

.property-card-holder .property-card .property-card-img .bg-img {
  top: 0;
  height: 300px;
  width: 100%;
}

.property-card-holder .property-card .property-card-img .detail-icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(239, 239, 239, 0.48);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 0 0 1rem 1rem;
}

.property-card-holder .property-card .property-card-img .detail-icons .detail-icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.property-card-holder .property-card .property-ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.property-card-holder .property-card .property-ratings .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property-card-holder .property-card .property-ratings .rating .light {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
}

.property-card-holder .property-card .property-ratings .rating .light-green {
  background: #27AE60;
}

.property-card-holder .property-card .property-ratings .rating .light-orange {
  background: #F2994A;
}

.property-card-holder .property-card .property-ratings .rating .light-yellow {
  background: #F2C94C;
}

.property-card-holder .property-card .property-ratings .rating p {
  font-size: .8rem;
}

.property-card-holder .blog-card {
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.property-card-holder .blog-card .bg-img {
  height: 200px;
  width: 100%;
}

.property-card-holder .blog-card .blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.property-card-holder .blog-card .blog-info h2 {
  padding: 1rem 0;
  font-size: 1.3rem;
  font-family: light-font;
}

.property-card-holder .blog-card .blog-info p {
  line-height: 1.5;
  font-family: light-font;
}

.property-card-holder .blog-card .blog-info .btn {
  width: 60%;
  margin: 1rem auto;
}

.test {
  height: 100vw;
  background: red;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: regular-font;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #ffffff;
}

h3, h4, h5 {
  font-family: light-font;
}

input:focus {
  outline: none;
}

section {
  margin-top: 3rem;
}

select option {
  background-color: #f4f4f4;
  color: #333;
}

select:focus {
  outline: none;
}

#navbar-box {
  position: fixed;
  height: 72px;
  width: 100%;
  top: 0;
  z-index: 20;
  background: white;
}

#navbar-box .navbar {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

#navbar-box .navbar-logo {
  width: 165px;
  height: 45px;
  background: url(../assets/icons/main-logo.png) center center/contain no-repeat;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#navbar-box .navbar-items {
  display: none;
}

#navbar-box .navbar .burger-logo-line {
  height: 2px;
  width: 24px;
  background: #333;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#navbar-box .navbar .burger-logo-line:nth-child(2) {
  margin: 5px 0;
}

#navbar-box .sidemenu-box {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc( 100vh - 50px);
  background-color: white;
  -webkit-transform: translate3d(0, -18px, 0);
          transform: translate3d(0, -18px, 0);
  -webkit-transition: all .36s ease-out;
  transition: all .36s ease-out;
  z-index: 9999;
}

#navbar-box .sidemenu-box .sidemenu {
  width: 86%;
  height: calc( 100% - 48px);
  font-family: medium-font;
  padding: 24px 0;
}

#navbar-box .sidemenu-box .sidemenu .sidemenu-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

#navbar-box .sidemenu-box .sidemenu .sidemenu-item-box .sidemenu-item {
  display: block;
  font-size: 24px;
  margin-top: 14px;
  color: #000;
}

#navbar-box.sidemenu-opened .sidemenu-box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#navbar-box.sidemenu-opened .navbar .burger-logo-line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navbar-box.sidemenu-opened .navbar .burger-logo-line:nth-child(2) {
  background: none;
}

#navbar-box.sidemenu-opened .navbar .burger-logo-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#home-a {
  position: relative;
}

#home-a .container .search-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20px;
  left: 12%;
  height: 535px;
  width: 76%;
  padding: 1rem;
  margin: auto;
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  border-radius: 1rem;
  z-index: 1;
}

#home-a .container .search-box .search-box-container {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 372px;
}

#home-a .container .search-box .search-box-container .advanced-search {
  padding: 20px 0 0;
  color: #0788E9;
  text-decoration: underline;
}

#home-a .container .search-box .search-box-container .property-details {
  padding-top: 1.5rem;
}

#home-a .container .search-box .search-box-container .property-details:first-child {
  padding-top: 0;
}

#home-a .container .search-box .search-box-container .property-details h4 {
  margin-bottom: .75rem;
}

#home-a .container .search-box .search-box-container .property-details .search-options-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#home-a .container .search-box .search-box-container .property-details .search-options-box .search-input {
  width: 100%;
  height: 36px;
  font-size: .75rem;
  background: none;
  border: #8A8A8A 1px solid;
  color: #8A8A8A;
}

#home-a .container .search-box .search-box-container .property-details .search-options-box .search-input option[disabled] {
  display: none;
}

#home-a .container .search-box .search-box-container .property-details .search-options-box input {
  padding: .3rem;
}

#home-a .container .search-box .btn {
  width: 100%;
  font-size: 1.5rem;
}

#home-a .container .search-box .btn img {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#home-a .container .hero-img {
  position: relative;
  height: 570px;
  width: 100%;
  border-radius: 1.3rem;
  margin-top: 72px;
  background: url(../assets/img/main/hero-image.jpg) center right/cover no-repeat;
}

#home-b .container .graphs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.2rem;
}

#home-b .container .graphs-container .graph-info .graph-description {
  font-family: light-font;
  color: #8A8A8A;
}

#home-b .container .graphs-container .graph-info h4 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

#home-b .container .graphs-container .graph-info .graph-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

#home-b .container .graphs-container .graph-info .graph-box .graph-percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#home-b .container .graphs-container .graph-info .graph-box .graph {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 2rem;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 250px;
  width: 100%;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar {
  width: 7%;
  margin-right: calc( 30% / 9);
  height: 100%;
  background: #52CFA1;
  z-index: 1;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar:last-child {
  margin-right: 0;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .graph-lines {
  position: absolute;
  left: 0;
  height: 250px;
  width: 100%;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .graph-lines .dotted-line {
  border-top: 2px dotted #E9E9E9;
  width: 100%;
  height: 20%;
}

#home-c .container .bg-img-1 {
  background-image: url(/assets/img/main/property-cards/nenenan-1.jpg);
}

#home-c .container .bg-img-2 {
  background-image: url(/assets/img/main/property-cards/nenenan-2.jpg);
}

#home-c .container .bg-img-3 {
  background-image: url(/assets/img/main/property-cards/nenenan-3.jpg);
}

#home-c .container .bg-img-4 {
  background-image: url(/assets/img/main/property-cards/nenenan-4.jpg);
}

#home-d .bg-img-1 {
  background-image: url(../assets/img/main/blog-cards/nenenan-1.jpg);
}

#home-d .bg-img-2 {
  background-image: url(../assets/img/main/blog-cards/nenenan-2.jpg);
}

#home-d .bg-img-3 {
  background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
}

#home-d .bg-img-4 {
  background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
}

#home-f .container .wrapped-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-f .container .wrapped-text .wrapped-text-img {
  width: 100%;
  max-width: 480px;
  margin-bottom: 2rem;
}

#footer-main {
  margin-top: 3rem;
}

#footer-main .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

#footer-main .footer-links a {
  font-family: light-font;
  width: 60%;
  color: #8A8A8A;
  line-height: 1.5;
  padding: 1rem;
  border-bottom: 1px dotted #d1d1d1;
}

#footer-main .footer-links a:last-child {
  border-bottom: none;
}

#footer-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#footer-main .container .footer-info {
  font-family: light-font;
  padding: 2rem 0;
  color: #000000;
}

#footer-main .container .footer-info a {
  color: steelblue;
}

#footer-main .container .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 235px;
}

#footer-main .container .footer-icons .home-invest-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-main .container .footer-icons .home-invest-icon img {
  margin-right: .5rem;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

#footer-main .container .footer-icons .home-invest-icon .lead {
  font-size: 1.5rem;
  padding: 0;
}

#footer-main .container .footer-icons .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#footer-main .container .footer-icons .social-icons a {
  width: 40px;
}

#footer-main .container .footer-bottom {
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .property-card-holder {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .property-card-holder .property-card {
    display: block;
  }
  #home-b .container .graphs-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  #footer-main .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer-main .footer-links a {
    border: none;
  }
}
/*# sourceMappingURL=main.css.map */