.advanced-search {
  color: steelblue;
  text-decoration: underline;
}

.arrow-up {
  position: absolute;
  top: -9px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1A1A1A;
}

.bg-dark {
  background: #1A1A1A;
  color: #ffffff;
}

.bg-white {
  background: #ffffff;
}

.bg-white h5 {
  color: #8A8A8A;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.bg-white .info-text {
  font-family: light-font;
  font-size: 1.3rem;
  line-height: 1.4;
}

.bg-white .about-text p {
  font-family: light-font;
  line-height: 1.4;
}

.bg-white .about-text li {
  font-family: light-font;
  margin-bottom: .5rem;
}

.bg-img {
  background: center center /cover no-repeat;
}

.bg-img.hero-img {
  height: 400px;
  border-radius: 1rem;
}

.btn {
  display: block;
  background: linear-gradient(45deg, #0788E9 65%, #23F8DE);
  color: white;
  text-align: center;
  margin: auto;
  font-family: light-font;
}

.btn-rounded {
  padding: .7rem;
  font-size: 1rem;
  border-radius: 2rem;
}

.btn-all {
  margin: 2rem auto;
  font-size: 1.5rem;
  width: 230px;
}

.btn-search {
  font-family: regular-font;
}

.btn-search img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.container {
  width: 86%;
  margin: 0 auto;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}

.first-section {
  margin-top: 77px;
}

.last-section {
  padding-bottom: 3rem;
}

.hidden {
  display: none !important;
}

.lead {
  padding: 0 0 1rem;
}

.lead .dark-blue {
  color: #0788E9;
}

.lead .light-blue {
  color: #23F8DE;
}

.login {
  min-height: 80vh;
}

.login .bg-img {
  height: 40vh;
}

.login .lead {
  margin-top: 1rem;
}

.login .forgot-password {
  color: #0788E9;
  text-decoration: underline;
}

.login .search-input {
  margin-bottom: 1rem;
}

.login .btn {
  font-family: bold-font;
  max-width: 50%;
  margin: 1rem auto;
}

.login .sign-up-lead {
  padding-top: .8rem;
}

.login .sign-up-lead a {
  color: #0788E9;
  text-decoration: underline;
}

.login .forgot-password-info {
  font-family: light-font;
  padding-bottom: 10px;
}

.property-card {
  padding: 1rem .5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.property-card h4 {
  padding: 0 0 1rem 1rem;
  font-size: .7rem;
}

.property-card .property-card-img {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.property-card .property-card-img .bg-img {
  top: 0;
  height: 300px;
  width: 100%;
}

.property-card .property-card-img .detail-icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(239, 239, 239, 0.48);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 0 0 1rem 1rem;
}

.property-card .property-card-img .detail-icons .detail-icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
}

.property-card .property-card-img .fav-button {
  background: #ffffff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.property-card .property-ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.property-card .property-ratings .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property-card .property-ratings .rating .light {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
}

.property-card .property-ratings .rating .light-green {
  background: #27AE60;
}

.property-card .property-ratings .rating .light-orange {
  background: #F2994A;
}

.property-card .property-ratings .rating .light-yellow {
  background: #F2C94C;
}

.property-card .property-ratings .rating p {
  font-size: .8rem;
}

.blog-card {
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-card .bg-img {
  height: 200px;
  width: 100%;
}

.blog-card .blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.blog-card .blog-info h2 {
  padding: 1rem 0;
  font-size: 1.3rem;
  font-family: light-font;
}

.blog-card .blog-info p {
  line-height: 1.5;
  font-family: light-font;
}

.blog-card .blog-info .btn {
  width: 60%;
  margin: 1rem auto;
}

.property-card-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 1rem;
  grid-gap: 1.5rem;
}

.search-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20px;
  left: 12%;
  height: 535px;
  width: 76%;
  padding: 1rem;
  margin: auto;
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  border-radius: 1rem;
  z-index: 1;
}

.search-box .search-box-container {
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  height: 372px;
}

.search-box .search-box-container .advanced-search {
  margin: 20px 0 0;
  color: #0788E9;
  text-decoration: underline;
}

.search-box .search-box-container .property-details h4 {
  margin-bottom: .75rem;
}

.search-box .search-box-container .property-details .search-options-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.search-box .search-box-container .property-details .search-options-box input {
  padding: .3rem;
}

.search-box .btn {
  width: 100%;
  font-size: 1.5rem;
}

.search-box .btn img {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.search-input {
  width: 100%;
  height: 36px;
  background: none;
  border: #8A8A8A 1px solid;
  color: #8A8A8A;
}

.search-input option[disabled] {
  display: none;
}

.success-box {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  z-index: 200;
}

.success-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.success-message img {
  height: 50px;
  margin-bottom: 10px;
}

.test {
  height: 100vw;
  background: red;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: regular-font;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #ffffff;
}

h3, h4, h5 {
  font-family: light-font;
}

input:focus {
  outline: none;
}

section {
  margin-top: 3rem;
}

select option {
  background-color: #f4f4f4;
  color: #333;
}

select:focus {
  outline: none;
}

textarea {
  resize: vertical;
}

#navbar-box {
  position: fixed;
  height: 72px;
  width: 100%;
  top: 0;
  z-index: 20;
  background: white;
}

#navbar-box .navbar {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

#navbar-box .navbar-logo {
  width: 165px;
  height: 45px;
  background: url(../assets/icons/main-logo.png) center center/contain no-repeat;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#navbar-box .navbar-items {
  display: none;
}

#navbar-box .navbar-items .navbar-item.current {
  color: #8A8A8A;
}

#navbar-box .navbar .burger-logo-line {
  height: 2px;
  width: 24px;
  background: #333;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#navbar-box .navbar .burger-logo-line:nth-child(2) {
  margin: 5px 0;
}

#navbar-box .sidemenu-box {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  -webkit-transform: translate3d(0, -18px, 0);
          transform: translate3d(0, -18px, 0);
  -webkit-transition: all .36s ease-out;
  transition: all .36s ease-out;
  z-index: 9999;
}

#navbar-box .sidemenu-box .sidemenu {
  width: 86%;
  height: calc( 100% - 48px);
  font-family: medium-font;
  padding: 24px 0;
}

#navbar-box .sidemenu-box .sidemenu .sidemenu-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

#navbar-box .sidemenu-box .sidemenu .sidemenu-item-box .sidemenu-item {
  display: block;
  font-size: 24px;
  padding: 1.5rem;
  color: #1A1A1A;
}

#navbar-box.sidemenu-opened .sidemenu-box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#navbar-box.sidemenu-opened .navbar {
  position: relative;
}

#navbar-box.sidemenu-opened .navbar .burger-logo-line {
  position: absolute;
  right: 0;
}

#navbar-box.sidemenu-opened .navbar .burger-logo-line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navbar-box.sidemenu-opened .navbar .burger-logo-line:nth-child(2) {
  background: none;
}

#navbar-box.sidemenu-opened .navbar .burger-logo-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#home-a {
  position: relative;
}

#home-a .container .hero-img {
  position: relative;
  height: 570px;
  width: 100%;
  border-radius: 1.3rem;
  margin-top: 72px;
  background: url(../assets/img/main/hero-image.jpg) center right/cover no-repeat;
}

#home-b .container .graphs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.2rem;
}

#home-b .container .graphs-container .graph-info .graph-description {
  font-family: light-font;
  color: #8A8A8A;
}

#home-b .container .graphs-container .graph-info h4 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

#home-b .container .graphs-container .graph-info .graph-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

#home-b .container .graphs-container .graph-info .graph-box .graph-percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#home-b .container .graphs-container .graph-info .graph-box .graph {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 2rem;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 250px;
  width: 100%;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars.bars-hovered .bar {
  background-color: #E9E9E9;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7%;
  margin-right: calc( 30% / 9);
  height: 100%;
  background: #52CFA1;
  z-index: 1;
  -webkit-transition: background .16s ease-in-out;
  transition: background .16s ease-in-out;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar .bar-toolkit {
  display: none;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar:last-child {
  margin-right: 0;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar.bar-hovered {
  background: #52CFA1;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar.bar-hovered .bar-toolkit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 105%;
  border-radius: 6px;
  padding: .5rem;
  width: 120px;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar.bar-hovered .bar-toolkit h5 {
  font-size: 1rem;
  color: #ffffff;
  padding-bottom: 5px;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .bars .bar.bar-hovered .bar-toolkit p {
  font-size: .7rem;
  font-family: light-font;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .graph-lines {
  position: absolute;
  left: 0;
  height: 250px;
  width: 100%;
}

#home-b .container .graphs-container .graph-info .graph-box .graph .graph-lines .dotted-line {
  border-top: 2px dotted #E9E9E9;
  width: 100%;
  height: 20%;
}

#home-c .container .bg-img-1 {
  background-image: url(/assets/img/main/property-cards/nenenan-1.jpg);
}

#home-c .container .bg-img-2 {
  background-image: url(/assets/img/main/property-cards/nenenan-2.jpg);
}

#home-c .container .bg-img-3 {
  background-image: url(/assets/img/main/property-cards/nenenan-3.jpg);
}

#home-c .container .bg-img-4 {
  background-image: url(/assets/img/main/property-cards/nenenan-4.jpg);
}

#home-c .container .property-card {
  display: none;
}

#home-c .container .property-card:first-child {
  display: block;
}

#home-c .container .property-card:nth-child(2) {
  display: block;
}

#home-d .bg-img-1 {
  background-image: url(../assets/img/main/blog-cards/nenenan-1.jpg);
}

#home-d .bg-img-2 {
  background-image: url(../assets/img/main/blog-cards/nenenan-2.jpg);
}

#home-d .bg-img-3 {
  background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
}

#home-d .bg-img-4 {
  background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
}

#home-d .property-card {
  display: none;
}

#home-d .property-card:first-child {
  display: block;
}

#home-d .property-card:nth-child(2) {
  display: block;
}

#home-f .container .wrapped-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-f .container .wrapped-text .wrapped-text-img {
  width: 100%;
  max-width: 480px;
  margin-bottom: 2rem;
}

#property-details-a {
  padding-top: 2rem;
}

#property-details-a .container .property-card .property-card-img .bg-img {
  border-radius: 1rem;
  height: 400px;
}

#property-details-a .container .property-card .property-card-img .bg-img-1 {
  background-image: url(../assets/img/main/property-cards/nenenan-1.jpg);
}

#property-details-a .container .property-card .property-card-img .bg-img-2 {
  background-image: url(../assets/img/main/property-cards/nenenan-2.jpg);
}

#property-details-a .container .property-card .property-card-img .bg-img-3 {
  background-image: url(../assets/img/main/property-cards/nenenan-3.jpg);
}

#property-details-a .container .property-card .property-card-img .bg-img-4 {
  background-image: url(../assets/img/main/property-cards/nenenan-4.jpg);
}

#property-details-a .container .property-card .property-card-img.property-slider-bottom {
  border-radius: 0;
}

#property-details-a .container .property-card .property-card-img.property-slider-bottom .slick-slide {
  margin: 5px;
}

#property-details-a .container .property-card .property-card-img.property-slider-bottom .bg-img {
  height: 50px;
  width: 50px;
  border-radius: .3rem;
  margin: .5rem 0 0;
}

#property-details-a .container .property-card-holder {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#property-details-a .container .property-card-holder .property-card {
  display: block;
}

#property-details-a .container .property-card-holder .update-form-card .lead {
  font-size: 1.3rem;
}

#property-details-a .container .property-card-holder .update-form-card .update-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#property-details-a .container .property-card-holder .update-form-card .update-form .update-info {
  padding: .5rem;
  width: 99%;
  margin-top: .5rem;
}

#property-details-a .container .property-card-holder .update-form-card .btn {
  font-family: bold-font;
}

#property-details-a .container .property-card-holder .update-form-card .btn img {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#property-details-a .container .property-card-holder .detail-card {
  height: 80px;
}

#property-details-a .container .property-card-holder .detail-card .property-card-img {
  height: 100%;
}

#property-details-a .container .property-card-holder .detail-card .property-card-img .detail-icons {
  background: none;
  position: relative;
  padding: 0;
}

#property-details-a .container .property-card-holder .rating-card .property-ratings {
  padding: 0;
}

#property-details-b .container .lead {
  padding-top: 2rem;
}

#property-details-b .container .lead:first-child {
  padding-top: 0;
}

#property-details-b .container .property-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-bottom: 1px #E9E9E9 solid;
  padding-bottom: 2rem;
}

#property-details-b .container .property-info-pair {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
}

#property-details-b .container .property-info-pair .property-info-name {
  font-family: bold-font;
  margin-right: .3rem;
}

#property-details-b .container .property-info-pair .property-info-icon {
  padding: .5rem .5rem .5rem 0;
}

#property-details-c {
  margin-top: 2rem;
}

#property-details-c .lead {
  padding-bottom: 2rem;
}

#property-details-c #map {
  width: 100%;
  height: 400px;
  border-radius: 1rem;
}

#properties-a .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#properties-a .container .property-search-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-bottom: 10px;
}

#properties-a .container .property-search-options .search-input {
  width: 100%;
  height: 36px;
  font-size: .75rem;
  background: none;
  border: #8A8A8A 1px solid;
  border-radius: 3px;
  color: #8A8A8A;
}

#properties-a .container .property-search-options .search-input option[disabled] {
  display: none;
}

#properties-a .container .property-search-options input {
  padding: .3rem;
}

#properties-a .container .advanced-search-box {
  padding-top: 1rem;
  margin-top: 6px;
  border-top: 1px #E9E9E9 solid;
}

#properties-a .container .search-buttons {
  text-align: center;
}

#properties-a .container .search-buttons .btn {
  margin-top: .5rem;
  width: 200px;
}

#properties-b {
  padding-top: 2rem;
}

#properties-b .sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10px;
}

#properties-b .property-card {
  display: block;
}

#properties-b .bg-img-1 {
  background-image: url(/assets/img/main/property-cards/nenenan-1.jpg);
}

#properties-b .bg-img-2 {
  background-image: url(/assets/img/main/property-cards/nenenan-2.jpg);
}

#properties-b .bg-img-3 {
  background-image: url(/assets/img/main/property-cards/nenenan-3.jpg);
}

#properties-b .bg-img-4 {
  background-image: url(/assets/img/main/property-cards/nenenan-4.jpg);
}

#about-a .hero-img {
  background-image: url(../assets/img/about-alfred/fran-hogan-j9aikb6tv-M-unsplash.jpg);
}

#about-alfred-a .hero-img {
  background-image: url(../assets/img/about/evan-dvorkin-K7PrSwM54-I-unsplash.jpg);
}

#blog-a .blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

#blog-a .bg-img-1 {
  background-image: url(../assets/img/main/blog-cards/nenenan-1.jpg);
}

#blog-a .bg-img-2 {
  background-image: url(../assets/img/main/blog-cards/nenenan-2.jpg);
}

#blog-a .bg-img-3 {
  background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
}

#blog-a .bg-img-4 {
  background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
}

#blog-inner-a .hero-img {
  background-image: url(../assets/img/inner-blogs/nenenan-1.jpg);
}

#contact-a .hero-img {
  background-image: url(../assets/img/inner-blogs/nenenan-4.jpg);
}

#contact-c .contact-form-wrapper {
  padding: 2rem 1rem 1rem;
}

#contact-c .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-c .contact-form .search-input {
  margin-bottom: 1rem;
}

#contact-c .contact-form textarea {
  padding-bottom: 5rem;
}

#contact-d .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-d .contact-icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  width: 100%;
  border-bottom: 1px dotted #d1d1d1;
}

#contact-d .contact-icon-block:last-child {
  border-bottom: none;
}

#contact-d .contact-icon-block .contact-icon {
  height: 30px;
  margin-bottom: 1rem;
}

#contact-d .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#privacy-a h2 {
  padding-top: 1rem;
  margin-top: 12px;
}

#privacy-a ul {
  margin: .5rem 0 0 1rem;
}

#privacy-a a {
  color: #0788E9;
  text-decoration: underline;
}

#terms-a h2 {
  padding-top: 1rem;
  margin-top: 12px;
}

#terms-a ul {
  margin: .5rem 0 0 1rem;
}

#terms-a a {
  color: #0788E9;
  text-decoration: underline;
}

#faq-a .property-card {
  padding: 0;
}

#faq-a .faq-question-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #f4f4f4;
}

#faq-a .faq-answer-box {
  padding: 1rem;
  display: none;
}

#faq-a .answer-opener {
  height: 10px;
  margin-right: 1rem;
}

#faq-a .faq-answer-box {
  background: #f4f4f4;
  height: 100%;
}

#login-a .bg-img {
  background-image: url(../assets/img/login/hero-image.jpg);
}

#sign-up-a .bg-img {
  background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
}

#forgot-password-a {
  min-height: 0;
}

#forgot-password-a .bg-img {
  background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
}

#footer-main {
  margin-top: 3rem;
}

#footer-main .footer-login {
  margin-top: 0;
}

#footer-main .footer-links {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

#footer-main .footer-links .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#footer-main .footer-links .container a {
  font-family: light-font;
  width: 60%;
  color: #8A8A8A;
  line-height: 1.5;
  padding: 1rem;
  border-bottom: 1px dotted #d1d1d1;
}

#footer-main .footer-links .container a:last-child {
  border-bottom: none;
}

#footer-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#footer-main .container .footer-info {
  font-family: light-font;
  padding: 2rem 0;
  color: #000000;
}

#footer-main .container .footer-info a {
  color: steelblue;
}

#footer-main .container .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 235px;
}

#footer-main .container .footer-icons .home-invest-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-main .container .footer-icons .home-invest-icon img {
  margin-right: .5rem;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

#footer-main .container .footer-icons .home-invest-icon .lead {
  font-size: 1.5rem;
  padding: 0;
}

#footer-main .container .footer-icons .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#footer-main .container .footer-icons .social-icons a {
  width: 40px;
}

#footer-main .container .footer-bottom {
  width: 100%;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .login {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .login .bg-img {
    width: 100%;
    height: 100%;
  }
  .login .login-form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .property-card-holder {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .property-card-holder .property-card {
    display: block;
  }
  #home-b .container .graphs-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  #home-c .container .property-card {
    display: block;
  }
  #home-d .container .property-card {
    display: block;
  }
  #property-details-a .container .property-card .property-card-img.property-slider-bottom .bg-img {
    height: 100px;
  }
  #property-details-a .container .property-card-holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #property-details-a .container .property-card-holder .update-form-card {
    padding-top: 2rem;
  }
  #property-details-a .container .property-card-holder .update-form-card .btn {
    margin-top: 2rem;
  }
  #property-details-a .container .property-card-holder .detail-card {
    height: inherit;
    padding: 0 1rem;
  }
  #property-details-a .container .property-card-holder .detail-card .detail-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  #property-details-a .container .property-card-holder .detail-card .detail-icons .detail-icon-group {
    border-bottom: 1px solid #E9E9E9;
    padding: 1rem;
    height: inherit;
  }
  #property-details-a .container .property-card-holder .rating-card {
    padding: 0 1rem;
  }
  #property-details-a .container .property-card-holder .rating-card .property-ratings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  #property-details-a .container .property-card-holder .rating-card .property-ratings .rating {
    border-bottom: 1px solid #E9E9E9;
    padding: 2rem;
  }
  #property-details-b .container .property-info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #properties-a .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 13fr 3fr;
        grid-template-columns: 13fr 3fr;
    grid-gap: 10px;
  }
  #properties-a .container .property-search-options {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
  #properties-a .container .property-search-options input {
    padding: .3rem;
  }
  #properties-a .container .search-buttons .advanced-search {
    font-size: .8rem;
  }
  #properties-a .container .search-buttons .btn {
    width: 100%;
    padding: .4rem;
  }
  #blog-a .blog-card-big {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    height: 300px;
  }
  #blog-a .blog-card-big:nth-child(even) > div:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #blog-a .blog-card-big .bg-img {
    height: 100%;
  }
  #contact-c .btn {
    width: 300px;
  }
  #contact-d .contact-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact-d .contact-icon-block {
    border-bottom: none;
    border-right: 1px dotted #d1d1d1;
  }
  #contact-d .contact-icon-block:last-child {
    border: none;
  }
  #footer-main .footer-links .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer-main .footer-links .container a {
    border: none;
  }
}

@media screen and (min-width: 1024px) {
  #navbar-box .navbar-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar-box .navbar-items .profile-link {
    background: url(../assets/img/main/user.png) center center/cover no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  #navbar-box .navbar .burger-logo {
    display: none;
  }
  #navbar-box .navbar .btn {
    margin: 0;
  }
  #home-a .container .search-box {
    width: 30%;
    left: 9%;
  }
  #home-a .container .search-box.search-box-expanded {
    width: 60%;
  }
  #home-a .container .search-box.search-box-expanded .search-box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 2rem;
  }
  #home-a .container .search-box.search-box-expanded .btn {
    width: calc(50% - 1rem);
    margin: 1rem 0;
  }
  #home-a .container .search-box .search-box-container {
    position: relative;
    overflow: visible;
  }
  #home-a .container .search-box .search-box-container #advanced-search-details {
    margin-top: 28px;
  }
  #property-details-a > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #property-details-a > .container > .property-card {
    width: 77%;
  }
  #property-details-a > .container > .property-card .property-card-img .bg-img {
    height: 450px;
  }
  #property-details-a > .container > .property-card .property-card-img.property-slider-bottom .bg-img {
    height: 120px;
  }
  #property-details-a > .container .property-card-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20%;
    margin-top: 0;
    padding-bottom: 0;
  }
  #property-details-a > .container .property-card-holder .update-form-card {
    padding-top: 1rem;
  }
  #property-details-a > .container .property-card-holder .update-form-card .lead {
    font-size: 1.2rem;
  }
  #property-details-a > .container .property-card-holder .update-form-card .btn {
    margin-top: 1rem;
  }
  #property-details-a > .container .property-card-holder .detail-card {
    height: inherit;
    padding: 0 1rem;
  }
  #property-details-a > .container .property-card-holder .detail-card .detail-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  #property-details-a > .container .property-card-holder .detail-card .detail-icons .detail-icon-group {
    border-bottom: 1px solid #E9E9E9;
    padding: .5rem;
    height: inherit;
  }
  #property-details-a > .container .property-card-holder .rating-card {
    padding: 0 1rem;
  }
  #property-details-a > .container .property-card-holder .rating-card .property-ratings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  #property-details-a > .container .property-card-holder .rating-card .property-ratings .rating {
    border-bottom: 1px solid #E9E9E9;
    padding: .7rem;
  }
  #properties-b .sort-by {
    padding-bottom: 1rem;
  }
  #properties-b .property-card-holder {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #contact-c .contact-form-wrapper {
    width: 50%;
    margin: auto;
  }
  #contact-d .contact-icon-block {
    padding: 2rem;
  }
}

@media screen and (min-width: 1240px) {
  .property-card-holder {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .property-card-holder .property-card {
    display: block;
  }
  #home-b .container .graphs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #home-b .container .graphs-container .graph-info {
    max-width: 500px;
  }
  #home-b .container .graphs-container .graph-info .graph-box {
    height: 300px;
  }
  #home-b .container .graphs-container .graph-info .graph-box .graph .bars {
    height: 100%;
  }
  #home-f .container .wrapped-text {
    display: block;
  }
  #home-f .container .wrapped-text .wrapped-text-img {
    float: right;
    margin: 1rem;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  #property-details-b .container .property-info {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */