$primary-text-color: #000;
$primary-color: #0788E9;
$secondary-text-color: #8A8A8A;
$secondary-color: #52CFA1;
$light-blue-color: #23F8DE;
$light-color: #E9E9E9;
$dark-color: #1A1A1A;
$gradient-color: linear-gradient(45deg , #0788E9 65%, #23F8DE);
$main-navbar-color: white;
$main-light-color: #333;
$navbar-height: 72px;
$navbar-logo-height: 45px;


$website-width: 86%;

// Utilities

.bg{

   &-dark{
      background: $dark-color;
      color: #ffffff;
   }

   &-white{
      background: #ffffff;

      h5{
         color: $secondary-text-color;
         padding-bottom: 1rem;
         font-size: 1.2rem;
      }

      .info-text{
         font-family: light-font;
         font-size: 1.3rem;
         line-height: 1.5;
      }
   }

   &-img{
      background: center center /cover no-repeat;
   }
}

.btn{
   display: block;
   background: $gradient-color;
   color: white;
   text-align: center;
   margin: auto;
   font-family: light-font;

   &-rounded{
      margin-top: 1rem;
      padding: .7rem;
      font-size: 1rem;
      border-radius: 2rem;
   }

   &-all{
      margin: 2rem auto;
      font-size: 1.5rem;
      width: 230px;
   }

}

.container{
   width: $website-width;
   margin: 0 auto;
}

.first-section{
   margin-top: $navbar-height;

}

.hidden{
   display: none;
}

.lead{
   padding: 0 0 1rem;

      .dark-blue{
         color: $primary-color;
      }

      .light-blue{
         color: $light-blue-color;
      }
}

.property-card-holder{
   display: grid;
   grid-template-columns: 1fr;
   padding-bottom: 1rem;
   grid-gap: 1.5rem;

   .property-card{
      display: none;
      padding: 1rem .5rem;
      border-radius: 1rem;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

      &:first-child{
         display: block;
      }

      &:nth-child(2){
         display: block;
      }
      
      h4{
         padding: 0 0 1rem 1rem;
         font-size: .7rem;
      }

      .property-card-img{
         display: none;
         position: relative;
         width: 100%;
         border-radius: 1rem;
         overflow: hidden;

         &:first-child{
            display: block;
         }

         &:nth-child(2){
            display: block;
         }

         .bg-img{
            top: 0;
            height: 300px;
            width: 100%;
         }

         .detail-icons{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            background: rgba(239, 239, 239, 0.48); 
            backdrop-filter: blur(12px);
            border-radius: 0 0 1rem 1rem;

            .detail-icon-group{
               display: flex;
               flex-direction: column;
               align-items: center;
               text-align: center;
            }
         }
      }

      .property-ratings{
         display: flex;
         padding-top: 1rem;
         width: 100%;
         justify-content: space-evenly;

         .rating{
            display: flex;

            .light{
               height: 10px;
               width: 10px;
               margin-right: 5px;
               border-radius: 50%;

               &-green{
                  background: #27AE60;
               }

               &-orange{
                  background: #F2994A ;
               }

               &-yellow{
                  background: #F2C94C ;
               }
            }

            p{
               font-size: .8rem;
            }
         }

      }
   }

   .blog-card{
      padding: 0;
      overflow: hidden;
      box-shadow: none;

      .bg-img{
         height: 200px;
         width: 100%;
      }

      .blog-info{
         display: flex;
         flex-direction: column;
         padding: 1rem;

         h2{
            padding: 1rem 0;
            font-size: 1.3rem;
            font-family: light-font;
         }

         p{
            line-height: 1.5;
            font-family: light-font;
         }

         .btn{
            width: 60%;
            margin: 1rem auto;
         }
      }

   }
}

.test{
   height: 100vw;
   background: red;
}

// General Styling
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: regular-font;
}

a{
   text-decoration: none;
   color: inherit;
}

body{
   background: #ffffff;
}

h3 , h4 , h5{
   font-family: light-font;
}

input{

   &:focus{
      outline: none;
   }
}

section{
   margin-top: 3rem;
}

select{
   
   option{
      background-color: #f4f4f4;
      color: $main-light-color;
   }

   &:focus{
      outline: none;
   }


}

// Navbar
#navbar-box{
   position: fixed;
   height: $navbar-height;
   width: 100%;
   top: 0;
   z-index: 20;
   background: white;

   .navbar{
      height: $navbar-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: center;

      &-logo{
         width: 165px;
         height: $navbar-logo-height;
         background: url(../assets/icons/main-logo.png) center center /contain no-repeat;
         transform: translateY(-2px);
      }

      &-items{
         display: none;
      }

      .burger-logo{

         &-line{
            height: 2px;
            width: 24px;
            background: $main-light-color;
            transition: all 0.4s ease-in-out;

            &:nth-child(2){
               margin: 5px 0;
            }
         }
      }
   }

   .sidemenu-box {
      opacity: 0;
      visibility: hidden;
      
      display: flex;
      justify-content: center;
      
      position: fixed;
      top: 50px;
      left: 0;
      
      width: 100vw;
      height: 100vh;
      
      background-color: rgba( 255, 255, 255, 1 );
      transform: translate3d( 0, -18px, 0 );
      transition: all .36s ease-out;
      
      z-index: 9999;
      
         .sidemenu {
            width: $website-width;
            height: calc( 100% - 48px );
            font-family: medium-font;
            padding: 24px 0;
   
            .sidemenu-item-box {
               display: flex;
               flex-direction: column;
               justify-items: center;
               align-items: center;
               margin-bottom: 48px;
   
               .sidemenu-item {
                  display: block;
                  font-size: 24px;
                  padding: 1.5rem;
                  color: $primary-text-color;
               }
            }
         }
   }
   
   &.sidemenu-opened .sidemenu-box {
      opacity: 1;
      visibility: visible;
      transform: translate3d( 0, 0, 0 );
   }

   &.sidemenu-opened .navbar{
      position: relative;

      .burger-logo{

         &-line{
            position: absolute;
            right: 0;

            &:first-child{
               transform: rotate(45deg);

            }

            &:nth-child(2){
                  background: none;
            }

            &:nth-child(3){
               transform: rotate(-45deg);
            }
         }
      }
   }
}

// Home
#home{

   // Search
   &-a{
      position: relative;

      .container{
         
         .search-box{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 20px;
            left: 12%;
            height: 535px;
            width: 76%;
            padding: 1rem;
            margin: auto;
            background: rgba($color: #ffffff, $alpha: .85);
            backdrop-filter: saturate(180%) blur(20px);
            border-radius: 1rem;
            z-index: 1;

            .search-box-container{
               overflow: auto;
               display: flex;
               flex-direction: column;
               height: 372px;

               .advanced-search{
                  padding: 20px 0 0;
                  color: $primary-color;
                  text-decoration: underline;
               }

               .property-details{
                  padding-top: 1.5rem;

                  &:first-child{
                     padding-top: 0;
                  }
   
                  h4{
                     margin-bottom: .75rem;
                  }
   
                  .search-options-box{
                     display: grid;
                     grid-template-columns: 1fr 1fr;
                     grid-gap: 10px;
   
                     .search-input{
                        width: 100%;
                        height: 36px;
                        font-size: .75rem;
                        background: none;
                        border: $secondary-text-color 1px solid;
                        color: $secondary-text-color;

                        option[disabled] {
                            display: none;
                        }
                     }

                     input{
                        padding: .3rem;
                     }
                  }
               }
            }

            .btn{
               width: 100%;
               font-size: 1.5rem;

               img{
                  transform: translateY(4px);
               }
            }

         }

         .hero-img{
            position: relative;
            height: 570px;
            width: 100%;
            border-radius: 1.3rem;
            margin-top: $navbar-height ;
            background: url(../assets/img/main/hero-image.jpg) center right /cover no-repeat;

         }
      }
   }

   // Graphs
   &-b{

      .container{

         .graphs-container{
            display: flex;
            flex-direction: column;
            margin-top: 1.2rem;

            .graph-info{

               .graph-description{
                  font-family: light-font;
                  color: $secondary-text-color;
               }

               h4{
                  font-size: 1.3rem;
                  padding-bottom: 1rem;
               }

               .graph-box{
                  display: flex;
                  margin: 2rem 0;

                  .graph-percentages{
                     display: flex;
                     justify-content: space-between;
                     flex-direction: column-reverse;
                  }

                  .graph{
                     position: relative;
                     display: flex;
                     width: 100%;
                     margin-left: 2rem;



                     .bars{
                        display: flex;
                        align-items: flex-end;
                        flex: 1;
                        height: 250px;
                        width: 100%;

                        .bar{
                           width: 7%;
                           margin-right: calc( 30% / 9);
                           height: 100%;
                           background: $secondary-color;
                           z-index: 1;
   
                           &:last-child{
                              margin-right: 0;
                           }
                        }
                     }

                     .graph-lines{
                        position: absolute;
                        left: 0;
                        height: 250px;
                        width: 100%;
   
                        .dotted-line{
                           border-top: 2px dotted $light-color;
                           width: 100%;
                           height: 20%;
                        }
                     }
                  }
                  
         
               }
            }
         }
      }
   }

   // Property Cards
   &-c{

      .container{
         
         .bg-img{

            &-1{
               background-image: url(/assets/img/main/property-cards/nenenan-1.jpg);
            }

            &-2{
               background-image: url(/assets/img/main/property-cards/nenenan-2.jpg);
            }

            &-3{
               background-image: url(/assets/img/main/property-cards/nenenan-3.jpg);
            }

            &-4{
               background-image: url(/assets/img/main/property-cards/nenenan-4.jpg);
            }
         }
      }
   }

   // Blog Cards
   &-d{

      .bg-img{

         &-1{
            background-image: url(../assets/img/main/blog-cards/nenenan-1.jpg);
         }

         &-2{
            background-image: url(../assets/img/main/blog-cards/nenenan-2.jpg);
         }

         &-3{
            background-image: url(../assets/img/main/blog-cards/nenenan-3.jpg);
         }

         &-4{
            background-image: url(../assets/img/main/blog-cards/nenenan-4.jpg);
         }
      }

   }

   // About Alfred
   &-f{
      .container{

         .wrapped-text{
            display: flex;
            flex-direction: column;
            align-items: center;

            .wrapped-text-img{
               width: 100%;
               max-width: 480px;
               margin-bottom: 2rem;
            }
         }
      }
   }
}

#footer{

   &-main{
      margin-top: 3rem;

      .footer-links{
         border-top: 1px solid #d1d1d1;
         border-bottom: 1px solid #d1d1d1;

         .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
   
            a{
               font-family: light-font;
               width: 60%;
               color: $secondary-text-color;
               line-height: 1.5;
               padding: 1rem;
               border-bottom: 1px dotted #d1d1d1 ;
   
               &:last-child{
                  border-bottom: none;
               }
            }
         }
      }

      .container{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;

         .footer-info{
            font-family: light-font;
            padding: 2rem 0;
            color: #000000;

            a{
               color: steelblue;
            }
         }

         .footer-icons{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 235px;

            .home-invest-icon{
               display: flex;

               img{
                  margin-right: .5rem;
                  transform: translateY(-20px);
               }

               .lead{
                  font-size: 1.5rem;
                  padding: 0;
               }
            }

            .social-icons{
               display: flex;
               justify-content: space-between;
               transform: translateY(-15px);

               a{
                  width: 40px;
               }
            }
         }

         .footer-bottom{
            width: 100%;
            margin-top: 2rem;
         }
      }
   }
}

@media screen and (min-width: 600px){

   // Utilities
   .property-card-holder{
      grid-template-columns: repeat(2, 1fr);

      .property-card{
         display: block;
      }
   }

   // Site Stylings
   #home{

      &-b{

         .container{

            .graphs-container{
               display: grid;
               grid-template-columns: 1fr 1fr;
               grid-gap: 2rem;
            }
         }
      }
   }

   #footer{

      &-main{

         .footer-links{

            .container{
               flex-direction: row;
   
               a{
                  border: none;
               }
            }
         }
      }

   }
}

@media screen and (min-width: 1024px){

   // Utilities

   // Site Stylings
   #navbar-box{

      .navbar{

         &-items{
            display: flex;
            width: 50%;
            justify-content: space-between;
            align-items: center;

            .profile-link{
               background: url(../assets/img/main/user.png) center center /cover no-repeat;
               width: 30px;
               height: 30px;
               border-radius: 50%;
            }
         }

         .burger-logo{
            display: none;
         }
      }
   }

   #home{

      &-a{

         .container{

            .search-box{
               width: 30%;
               left: 9%;
            }
         }
      }
   }
}

@media screen and (min-width: 1240px){

      // Utilities
      .property-card-holder{
         grid-template-columns: repeat(4, 1fr);
   
         .property-card{
            display: block;
         }
      }

   #home{

      // Graphs
      &-b{

         .container{

            .graphs-container{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
   
               .graph-info{
                  max-width: 500px;

                  .graph-box{
                     height: 300px;

                     .graph{

                        .bars{
                           height: 100%;
                        }
                     }
                  }
               }
            }
         }

      }

      // About Alfred
      &-f{
         
         .container{

            .wrapped-text{
               display: block;

               .wrapped-text-img{
                  float: right;
                  margin: 1rem;
                  transform: translateY(-50px);
               }
            }
         }
      }
   }
}